.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.main {
    border-radius: 12px;
    box-shadow: 0px 0px 40px 2px #00000040;

}