.back-div{
    height: 7px;
    width: 100%;
    display: flex;
}

.back {
    align-self: flex-start;
}

.main{
    text-align: center;
    margin-top: 80px;
}

.heading{
    font-family: Raleway;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    color: black;
    margin-bottom: 30px;
}

.grid-container{
    width: 80%;
    margin: auto;
}