.table-heading{
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}

.table-head{
    display: flex;
}

.name{
    width: 50%;
}

.amount{
    width: 20%;
}

.sum{
    width: 20%;
}
.delete{
    width: 10%;
}

.heading{
    font-family: Raleway;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: black;

    margin-bottom: 30px;
}

.front{
    width: 60%;
}
.total{
    width: 40%;
    font-family: Raleway;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}

.back{
    width: 0%;
}

.flex{
    display: flex;
}

.line{
    border-top: 2px solid black;
    opacity: 100;
}

