@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

$raleway: 'Raleway', sans-serif;

$white: #fff;
$dark-gray: #5a646d;
$black: #000;
$ligh_grey: #535353;
$dark_blue: #343a40;
