.back-div{
    height: 7px;
    width: 100%;
    display: flex;
}

.back {
    align-self: flex-start;
}

.main{
    margin-top: 80px;

}

.center-container{
    display: flex;
    align-items: center;
    justify-content: center;
}