.back-div{
    height: 7px;
    width: 100%;
    display: flex;
}

.back {
    align-self: flex-start;
}

.main{
    margin-top: 80px;

}

.center-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    border-radius: 10px;
    padding: 12px 40px 12px 40px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    background-color: black;
    color: white;  
    
    margin: 30px auto;
    border: none;
    margin-bottom: 200px;
}

.centered{
    display: flex;
    align-items: center;
    justify-content: center;
}