.flex {
    display: flex;
}

.profile-logo{
    height: 232px;
    width: 232px;
    border-radius: 0px;

}

.heading {
    font-family: Raleway;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}

.input-label{
    font-family: Raleway;
    font-size: 20px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}

.input{
    height: 58px;
    width: 450px;
    border-radius: 10px;
    background: #EDEDED;
    border: none;
    outline: none;

    margin-bottom: 30px;
    padding-left: 25px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: auto;

    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}

.input::placeholder{
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: #AAAAAA;
}

.space-between{
    justify-content: space-between;
}

.profile-container{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 350px;
}

.small-input{
    width: 386px;
}