.flex {
    display: flex;
}

.profile-logo{
    height: 232px;
    width: 232px;
    border-radius: 0px;

}

.heading {
    font-family: Raleway;
    font-size: 32px;
    font-weight: 500;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
}



.space-between{
    justify-content: space-between;
}

.profile-container{
    display: flex;
    align-items: center;
    justify-content: end;
    width: 350px;
}
